.CreateToDoForm {
  display: flex;
  justify-content: flex-start;
  background-color: hsl(235, 24%, 19%);
  padding: 1em;
  position: relative;
  border-radius: 0.25em;
}

.CreateToDoForm #check-activity {
  border-radius: 25%;
}

.CreateToDoForm #task-name {
  background-color: transparent;
  border: none;
  color: #fff;
  margin-left: 50px;
  flex: 1;
  width: 100%;
}

.CreateToDoForm.light-mode #task-name {
  color: hsl(235, 19%, 35%);
  font-weight: 700;
}

.CreateToDoForm #task-name::placeholder {
  font-weight: 700;
  color: hsl(234, 11%, 52%);
}

.CreateToDoForm #task-name:focus {
  outline: none;
}

.CreateToDoForm .container {
  display: block;
  position: absolute;
  left: 1.25em;
  cursor: pointer;
  user-select: none;
  flex: 0.1;
}

.CreateToDoForm .container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.CreateToDoForm .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-15%);
  height: 25px;
  width: 25px;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 50%;
}

.CreateToDoForm.light-mode .checkmark {
  border: 2px solid #eee;
  outline-offset: -3px;
}

.CreateToDoForm .container:hover input ~ .checkmark {
  background: linear-gradient(#fff 0 0) padding-box,
    linear-gradient(125deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%)) border-box;
  border: 2px solid transparent;
  width: 23px;
  height: 23px;
  display: inline-block;
}

.CreateToDoForm .container input:checked ~ .checkmark {
  height: 27px;
  width: 27px;
  background: url("../todo-app-main/images/icon-check.svg"),
    linear-gradient(125deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  outline: 2px solid #eee;
  outline-offset: -3px;
}
