.ToDoList {
  z-index: 1;
  position: relative;
  margin: 0 auto;
  margin-top: 7em;
  max-width: 50em;
}

.ToDoList ul {
  list-style: none;
  margin: 1em 0;
}

.ToDoList .list-item {
  margin-bottom: 0;
}

.ToDoList .task-item {
  display: flex;
  justify-content: space-between;
  background-color: hsl(235, 24%, 19%);
  padding: 1em 0;
  border-bottom: 1px solid hsl(237, 14%, 26%);
}

.ToDoList .task-item:first-child {
  border-top-left-radius: 0.25em;
  border-top-right-radius: 0.25em;
}

.ToDoList .task-item.light-mode {
  border-bottom: 1px solid hsl(233, 11%, 84%);
}

/* .ToDoList .task-item:last-child {
  border-bottom-left-radius: 0.25em;
  border-bottom-right-radius: 0.25em;
} */

.ToDoList .comp-btn-and-sentence {
  display: flex;
  align-items: center;
}

.ToDoList .comp-btn-and-sentence p {
  margin-left: 2.5em;
  font-weight: 700;
  color: hsl(234, 39%, 85%);
}

.ToDoList .comp-btn-and-sentence .crossed-off {
  color: hsl(234, 11%, 52%);
  text-decoration: line-through;
}

.ToDoList .light-mode .comp-btn-and-sentence p {
  margin-left: 2.5em;
  font-weight: 700;
  color: hsl(235, 19%, 35%);
}

.ToDoList .light-mode .comp-btn-and-sentence .crossed-off {
  color: hsl(233, 11%, 84%);
  text-decoration: line-through;
}

.ToDoList .delete-task-btn {
  background-color: transparent;
  border: none;
  background-image: url("../todo-app-main/images/icon-cross.svg");
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 1em;
}

.ToDoList .container-list {
  display: block;
  position: relative;
  left: 1.25em;
  cursor: pointer;
  user-select: none;
}

.ToDoList .container-list button {
  position: relative;
  opacity: 0;
  cursor: pointer;
  background-color: transparent;
  height: 25px;
  width: 25px;
}

.ToDoList .checkmark-list {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-15%);
  height: 23px;
  width: 23px;
  background-color: transparent;
  border: 1px solid #eee;
  border-radius: 50%;
  pointer-events: none;
}

.ToDoList .container-list:hover button ~ .checkmark-list {
  background: linear-gradient(hsl(235, 24%, 19%) 0 0) padding-box,
    linear-gradient(125deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%)) border-box;
  border: 2px solid transparent;
  width: 23px;
  height: 23px;
  display: inline-block;
}

.ToDoList .light-mode .container-list:hover button ~ .checkmark-list {
  background: linear-gradient(#fff 0 0) padding-box,
    linear-gradient(125deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%)) border-box;
}

.ToDoList .container-list.comp:hover button ~ .checkmark-list {
  background: url("../todo-app-main/images/icon-check.svg"),
    linear-gradient(125deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%)),
    padding-box,
    linear-gradient(125deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%)) border-box;
  border: 2px solid transparent;
  width: 23px;
  height: 23px;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
}

.ToDoList .container-list .comp {
  height: 27px;
  width: 27px;
  background: url("../todo-app-main/images/icon-check.svg"),
    linear-gradient(125deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}

.ToDoList .manipulate-list-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(235, 24%, 19%);
  margin: 0em;
  padding: 1em;
}

.ToDoList .manipulate-list-container p,
.ToDoList .manipulate-list-container button {
  color: hsl(234, 11%, 52%);
  font-weight: 700;
}

.ToDoList .manipulate-list-container.light-mode p,
.ToDoList .manipulate-list-container.light-mode button {
  color: hsl(236, 9%, 61%);
}

.ToDoList .manipulate-list-container button {
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.ToDoList .filter-btns-mobile,
.ToDoList .filter-btns-desktop {
  background-color: hsl(235, 24%, 19%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

.ToDoList .filter-btns-desktop {
  display: none;
}

.ToDoList .filter-btns-mobile li {
  margin: 0 1em;
}

.ToDoList .filter-btns-mobile button,
.ToDoList .filter-btns-desktop button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: hsl(234, 11%, 52%);
  font-weight: 700;
}

.ToDoList .filter-btns-mobile.light-mode button,
.ToDoList .filter-btns-desktop.light-mode button {
  color: hsl(236, 9%, 61%);
}

.ToDoList .drag-drop-instructions {
  color: hsl(233, 14%, 35%);
  font-weight: 700;
  text-align: center;
  margin-top: 5em;
}

.ToDoList .drag-drop-instructions.light-mode {
  color: hsl(236, 9%, 61%);
  background-color: transparent;
}

.ToDoList .show-task {
  display: none;
}

.ToDoList .light-mode {
  background-color: #fff;
}

.ToDoList .filter-btns-mobile .selected-filter,
.ToDoList .filter-btns-mobile.light-mode .selected-filter,
.ToDoList .manipulate-list-container .filter-btns-desktop .selected-filter,
.ToDoList
  .manipulate-list-container
  .filter-btns-desktop.light-mode
  .selected-filter {
  color: hsl(220, 98%, 61%);
}

@media only screen and (min-width: 1440px) {
  .ToDoList .filter-btns-mobile {
    display: none;
  }

  .manipulate-list-container {
    position: relative;
  }

  .ToDoList .filter-btns-desktop {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: flex-start;
  }

  .ToDoList .filter-btns-desktop li {
    margin: 0 1em;
  }
}
